<form #f="ngForm" (ngSubmit)="addItem(f)" class="add-item-form">

    <label for="title">Title</label>
    <input placeholder="Title" type="text" ngModel name="title" required>

    <br/>

    <label for="description">Description</label>
    <input placeholder="Description" type="text" ngModel name="description" required>
    
    <br/>
    
    <button mat-raised-button color="primary" class="add-button" type="submit">Add Item</button>
</form>

<ul>
    <app-to-do-list-item (itemDeleted)="getItems()" [item]="i" *ngFor="let i of items">
        {{i.title}}
    </app-to-do-list-item>
</ul>

